

.home-container{
     display: flex;
     margin: 150px 100px ;
     justify-content: space-around;
}

.home-content h1{
     font-size: 55px;
     font-weight: bold;
}

.social-icons{
     font-size: 20px;
     margin-top: 5px;
     padding: 15px 10px;
     background-color: #fbfbfb;
     border-radius: 50%;
     width: 50px;
}
.social-icons:hover{
     background-color: #ebebeb;
     cursor: pointer;
     transition:.4s;
     transform: translateY(-5px);
}
.my-profile{
     border: 2px solid gray;
     padding: 15px;
     border-radius: 50%;
}
.get-btn{
     text-align: center;
}
.right-arrow{
     opacity: 0;
}
.get-btn:hover .right-arrow{
     opacity: 1;
     transition:.4s;
     transform: translateX(3px);
}
.social-icons-group .social-anchor-tag{
     color: black;
}


@media screen and (min-width:375px) and (max-width:768px) {
      .home-container{
          display: flex;
          flex-direction: column-reverse;
          width: 85%;
          margin: 10px;
     }
     .my-profile{
          width: 250px;
          height: 250px;
          margin-top: 25px;
          margin-left: 50px;
          margin-bottom: 25px;
     }
     .home-content{
          margin-left: 5px;
     }
     .home-content .my-name{
          text-align: center;
          font-size: 35px;
          margin-left: 30px;
     }
     .my-name .text-primary{
          color: blue;
     }
     .home-content .my-role{
          font-size: 17px;
          margin-left: 50px;
          word-spacing: 3px;
          line-height: 30px;
     }
     .home-content .super-btns{
          display: flex;
          flex-direction: column;
     }
     .super-btns .get-btn {
          width: 90%;
          height: 40px;
          margin-left: 26px;
          margin-bottom: 20px;
     }
     .super-btns .download-btn{
          width: 90%;
          margin-left: 28px;
          height: 40px;
     }
     .home-content .social-icons-group{
          display: flex;
          justify-content: space-around;
          margin-left: 20px;
     }
     
}

@media screen and (min-width:425px) and (max-width:767px){
      .my-profile{
          width: 250px;
          height: 250px;
          margin-top: 25px;
          margin-left: 70px;
          margin-bottom: 25px;
     }
      .home-content .my-role{
          font-size: 17px;
          text-align: left;
          word-spacing: 3px;
          line-height: 30px;
          margin-left: 70px;
     }
     .super-btns{
          margin-left: 20px;
     }
     .get-btn .download-btn{
          width: 90%;
     }
}

/* Tablet device  */
 @media screen and (min-width:768px) and (max-width:1023px) {
      .my-profile{
          width: 250px;
          height: 250px;
          margin-top: 25px;
          margin-left: 250px;
          margin-bottom: 25px;
     }
         .home-content .my-name{
          text-align: center;
          font-size: 35px;
          margin-left: 70px;
     }
          .home-content .my-role{
          font-size: 17px;
          word-spacing: 3px;
          line-height: 30px;
          text-align: center;
     }
     .super-btns{
          margin-left: 70px;
     }
     .home-content .social-icons-group{
          display: flex;
          justify-content: space-around;
          margin-left:45px;
     }
 }

@media screen and (min-width:320px) and (max-width:1023px) {
     .hi{
          text-align: center;
     }
     
}
/* Mobile Small device */
@media screen and (max-width:320px) {
     .home-container{
          display: flex;
          flex-direction: column-reverse;
          width: 85%;
          margin: 10px;
     }
     .my-profile{
          width: 250px;
          height: 250px;
          margin-top: 25px;
          margin-left: 25px;
          margin-bottom: 25px;
     }
     .home-content{
          margin-left: 5px;
     }
     .home-content .my-name{
          text-align: center;
          font-size: 35px;
          margin-left: 30px;
     }
     .my-name .text-primary{
          color: blue;
     }
     .home-content .my-role{
          font-size: 17px;
          margin-left: 26px;
          word-spacing: 3px;
          line-height: 30px;
     }
     .home-content .super-btns{
          display: flex;
          flex-direction: column;
     }
     .super-btns .get-btn {
          width: 90%;
          height: 40px;
          margin-left: 23px;
          margin-bottom: 20px;
     }
     .super-btns .download-btn{
          width: 90%;
          height: 40px;
     }
     .home-content .social-icons-group{
          display: flex;
          justify-content: space-around;
          margin-left: 20px;
     }
     
}


